<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="config_path" default = "$(find feature_tracker)/../config/euroc/euroc_config.yaml" />
    <arg name="vins_path" default = "$(find feature_tracker)/../" />

    <!--MH_01_easy MH_02_easy MH_03_medium MH_04_difficult MH_05_difficult V1_01_easy V1_02_medium V1_03_difficult V2_01_easy V2_02_medium V2_03_difficult  -->
    <arg name="sequence_name" default="MH_01_easy" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <remap from="feature_tracker/image" to="/cam0/image_raw" />
        <remap from="feature_tracker/output" to="feature_tracker/feature_img" />
        <param name="config_file" type="string" value="$(find feature_tracker)/config/euroc.yaml" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
        <param name="gt_data_csv" type="string" value="$(find benchmark_publisher)/config/$(arg sequence_name)/data.csv" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

    <!-- attention visualization -->
    <node name="attention_viewer" pkg="feature_tracker" type="attention_viewer" output="screen">
        <remap from="attention_viewer/image" to="/cam0/image_raw" />
        <remap from="attention_viewer/feature" to="feature_tracker/feature" />
        <remap from="attention_viewer/subset" to="vins_estimator/subset" />
        <param name="config_file" type="string" value="$(find feature_tracker)/config/euroc.yaml" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

</launch>
